
<h1 class="office index">Office list </h1> 

<div class="body">
  <div class="row">
    <div class="index-table">
      <table class="table table-bordered table-striped table-condensed" id="table-sites">
        <thead>
          <tr>
            <td class="col-md-4"></td>
            <td class="col-md-2"></td>
            <td class="col-md-2 text-center">拠点番号</td>
            <td class="col-md-2 text-center">拠点名</td>
            <td class="col-md-2 text-center">拠点種類</td>
          </tr>
        </thead>
        <% @offices.each do |office| %>
         <tbody>
            <tr>
              
              <td><%= link_to "修正",edit_office_path(office),class: "btn btn-primary" %></td>
              <td><%= link_to "削除",office_path(office), method: :delete,class: "btn btn-info" %></td>
              <td><%= office.office_name %></td>
              <td><%= office.office_number %></td>
              <td><%= office.office_type %></td>
              
            </tr>
          </tbody>
         <% end %>
          </table>
        
    <button type ="button" class = "btn btn-info" data-toggle="collapse" data-target="#add-office">編集</button>
      <div id = "add-office" class = "collapse" >
        <%= render 'fromB' %>
  </div>
</div>
         