<% provide(:title, 'All Users') %>
<% provide(:button_text, 'EDIT') %>
<h1>USER INDEX</h1>

 <% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
 <% end %>


 <div>
  <%= form_tag users_path, method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
      <%= file_field_tag 'emails_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
      <%= button_tag 'File select', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
    </div>
    
    <div>
      <%= link_to "CSV", users_path(format: :csv), class: "btn-circle-fishy" %>
    </div>
  <% end %>
 </div>


 <script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
 </script>




 <div class="col-md-10 col-md-offset-1">
　<table class="table table-condensed table-hover" id="table-users">
 　 
  　　<tr>
       <% @users.each do |user| %>
         <% if !current_user?(user) %>
      　    <tr>
           　 <td>
            　  <%= user.name %>
               <%= link_to "削除", user, method: :delete,
                 data: { confirm: "削除してよろしいですか？" }, class: "btn btn-info" %>
               <button type ="button" class = "btn btn-primary" data-toggle="collapse" data-target="#<%= user.id %>">編集</button>
               <div id = "<%= user.id %>" class = "collapse" >
                 <%= render partial: 'formA', locals: {user: user} %>
               </div>
             </td>
           </tr>
         <% end %>    
       <% end %>
    </tr>
  </table>
</div>




   