<% provide(:class_text, 'overtime_application') %>
<% provide(:button_text, 'update') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
     
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     
     <h1 class="modal-title">&#x1F338;   Superior infomecion  &#x1F338;</h1> 
     <h1 class= "user-name"><%= @user.name %></h1>
    
    </div>
     
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          
     <%= form_with(model: @attendance, url: attendances_overtime_update_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
     <%= render 'shared/error_messages', object: @attendance %>

       <table class="table table-bordered table-condensed table-hover" id="table-attendances">
 
       
           <th>日付</th>
           <th>曜日</th>
      　    <th>翌日</th>
      　    <th>終了予定時間</th>
           <th>業務処理内容</th>
           <th>指示者確認印</th>
        
          <tr>
          
           <td><%= l(@attendance.worked_on, format: :short) %></td>
          
           <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
       
           <td><%= f.check_box :tomorrow, id: "remember_me" %></td>
           
           <td><%= f.time_select :scheduled_end_time, :include_blank => false, minute_step: 15 %></td>
           
           <td><%= f.text_field :business_content, class: "form-control" %></td>
           <!--誰宛てか？-->
           <td><%= f.collection_select :overtime_authorizer, @superior, :name, :name %></td>
            <!--  @superior = User.where(superior: true).where.not(id: @user.id)-->
        
        
         </tr>
       </table>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
              CANCEL
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>