<% provide(:class_text, 'timetable_edit') %>
<% provide(:button_text, 'update') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <%= form_with(model: @user, url: attendances_timetable_edit_update_user_path(@user), local: true, method: :patch) do |f| %>
            <% @app_edit.each do |id, attendances| %>
            <!--@app_edit = Attendance.where(edit_status: "申請中", edit_authorizer: @user.name).-->
            <!--order(user_id: "ASC", worked_on: "ASC").group_by(&:user_id) -->
             <!--#  Attendance.where(edit_status: "申請中"で見つけてくれて表示できる-->
             <!--#  :edit_authorizer  @user.name).でログインしているuserが上長の場合AかBを表示-->
             <!--#  :edit_authorizer = 勤怠編集 承認者 -->
              <!--< @app_edit.each do |id, attendances|で一件申請したattendancesを回してる %>-->
              <% user = User.find(id) %>
              <h1 class= "user-name-jyouchou" >Attendance application from  <%= user.name %></h1>
              
              <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                <thead>
                  <tr> 
                    <th rowspan="3">日付</th>
                    <th rowspan="3">曜日</th>
                    <th colspan="4">変更前</th>
                    <th colspan="4">変更後</th>
                    <th rowspan="4">備考</th>
                    <th rowspan="4">指示者確認印</th>
                    <th rowspan="4">変更</th>
                    <th rowspan="4">変更を確認する</th>
                  </tr>
                  <tr>
                    <th colspan="2">出社</th>
                  　<th colspan="2">退社</th>
                    <th colspan="2">出社</th>
                　   <th colspan="2">退社</th>
                  </tr>
                  <tr>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                   </tr>
                </thead> 
                <% attendances.each do |at| %>
                  <%= f.fields_for "attendances[]", at do |t| %>
                   <!--< @app_edit.each do |id, attendances|で一件申請したattendancesを配列にして回してる %>-->
                    <tr>
                      <td><%= l(at.worked_on, format: :short) %></td>
                     
                      <td><%= $days_of_the_week[at.worked_on.wday] %></td>
                     
                      <td><%= format_hour(at.started_at) if at.started_at.present? %></td><!--出勤時間-->
                      <td><%= format_min(at.started_at) if at.started_at.present? %></td>
                     
                      <td><%= format_hour(at.finished_at) if at.finished_at.present? %></td><!--退勤時間-->
                      <td><%= format_min(at.finished_at) if at.finished_at.present? %></td>
                                            
                      <td><%= format_hour(at.change_started_at) if at.change_started_at.present? %></td><!--変更後出勤時間-->
                      <td><%= format_min(at.change_started_at) if at.change_started_at.present? %></td>
                                           
        　　　　　　　　　　　　<td><%= format_hour(at.change_finished_at) if at.change_finished_at.present? %></td><!--変更後退勤時間-->
                      <td><%= format_min(at.change_finished_at) if at.change_finished_at.present? %></td>
                    　
                      <td><%= at.note %></td> <!--備考-->
                      <!--状態カラム-->
                      <td><%= t.select :edit_status, ["なし","承認","否認","申請中"],{include_blank: true}, class: "form-control" %></td>
                      <!--変更　-->
                      <td><%= t.check_box :change, id: "remember_me" %></td>
                      
                      <td><%= link_to"確認",status_info_user_path(user, date: at.worked_on),class: "btn btn-lg btn-default" %></td>
                    </tr>
                  <% end %>
                <% end %> 
              </table>
              <div class="center">
                <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>